
.slides {

  display: none;
}

.slidesjs-navigation, .slidesjs-pagination {

  display: none;
}

body{

  background-color: white;
  font-family: 'Noto Sans', sans-serif;
}

.navigation{

  background-color: white;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#brandText{

  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

#brandText img{

  width: 50px;
  height: 50px;
  vertical-align: text-bottom;
  margin-left: 100px;
}

.supportedContent{

  margin-right: 100px;
}

.navbar-toggler{

  margin-right: 100px;
}

.navigation a{

  color: black;
}

.navigationContent{

  margin-top: 8px;
}

.navigationContent a{

  font-size: 20px;
  margin-left: 24px;
}

.royalLine{

  width: 10%;
  border-top: 2px solid #2d344a;
}

.quote{

  display: flex;
  align-items: center;
  color: #2d344a;
  font-size: 26px;
  font-weight: 400;
  padding-top: 34px;
  padding-bottom: 34px;
  text-align: center;
}

.quote p{

  margin-bottom: 0;
  font-weight: 600;
}

#openingQuote{

  font-family: 'Mulish', sans-serif;
  margin-top: 100px;
}

.introCard{

  background-color: rgb(11, 65, 150);
  height: 400px;
  color: white;
  font-size: 40px;
  padding: 70px;
}

#firstText{

  text-align: left;
  width: 120px;
  height: 160px;
  margin: auto;
  display: block;
}

#secondText{

  text-align: center;
}

#thirdText{

  text-align: right;
  width: 120px;
  height: 160px;
  margin: auto;
  display: block;
}

.introimg{

  width: 160px;
  height: 160px;
}

#introIconImg{

  text-align: center;
}

.introContents{

  font-family: 'Nunito', sans-serif;
  font-size: 34px;
}

.contentHead{

  font-size: 30px;
  font-weight: 400;
}

#introMobile{

  display: none;
}

.service{

  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 20px;
  text-align: center;
}

.servicesContent{

  margin: 40px;
  margin-top: 10px;
  text-align: justify;
}

.servicesContent button{

  display: block;
  margin: auto;
  margin-top: 60px;
  background-color: black;
  color: white;
  border-radius: 0;
}

.servicesContent img{

  display: block;
  margin: auto;
}

.psyLeft{

  text-align: right;
}

.psyRight{

  text-align: left;
}

.psychometricExplain{

  font-size: 24px;
  font-weight: bold;
  color: rgb(11, 65, 150);
}

.psychometricExplain .upper{

  height: 50%;
  padding-top: 28px;
}

.psychometricExplain .lower{

  height: 50%;
  padding-bottom: 28px;
}

#psychometryImgWeb{

  margin-top: 20px;
  width: 380px;
}

#psychometryImgMobile{

  display: none;
}

.assessmentQuestion{

  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 80%;
  background-color: rgb(11, 65, 150);
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.assessmentIcon{

  margin-top: 20px;
  width: 120px;
}

.assessmentProcess p{

  color: rgb(11, 65, 150);
  font-weight: 600;
}

.assessmentLinks .linksHead{

  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(11, 65, 150);
}

.test{

    background-color: rgb(11, 65, 150);
    height: 340px;
    width: 80%;
    margin: auto;
    display: block;
    transition: transform .2s;
}

.test:hover{

  transform: scale(1.02);
}

.test p{

  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.testIcon{

  margin-top: 10px;
  width: 120px;
}

.offeredStreams{

  margin-top: 30px;
}

.streamHead{

  background-color: rgb(11, 65, 150);
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.streamHead p{

  margin-left: 20px;
}

.iconSet{

  margin: auto;
  display: block;
  margin-top: 20px;
}

.courseIcon img{

  width: 80px;
}

.idealCareerImg{

  margin-top: 16px;
  width: 94%;
}

.idealCareerContent{

  text-align: right;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgb(11, 65, 150);
}

.idealCareerContent p{

  margin-right: 20px;
}

.validAt{

  background-color: rgb(11, 65, 150);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.counselImg{

  margin: auto;
  display:block;
  align-items:center;
  justify-content:center;
}

.counsel img{

  width: 80%;
}

.counsel p{

  margin-top: 30px;
}

.jumbotron{

  padding: 30px;
  margin: auto;
  display: block;
}

.counselLink{

  background-color: rgb(11, 65, 150);
  border-radius: 8px;
  margin: auto;
  display: block;
  margin-top: 40px;
  text-align: center;
}

.counselLink img{

  width: 120px;
}

.counselLink p{

  font-size: 20px;
  font-weight: 600;
  color: white;
}

.counselLink .btn-primary{

  background-color: black;
  border: 0;
  font-weight: 600;
  font-size: 20px;
}

.counLink{

  margin: 20px;
}

.counselLink .btn-primary:hover{

  background-color: #656363;
}

.eduImg{

  margin: auto;
  display:block;
  align-items:center;
  justify-content:center;
}

.eduImg img{

  width: 90%;
}

.eduContent{

  width: 100%;
  background-color: rgb(11, 65, 150);
}

.eduContent .row{

  margin-top: 40px;
}

.eduQuantity{

  margin: auto;
  display: block;
  text-align: center;
}

.eduQuantity .primary{

  font-size: 80px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 0;
  color: white;
}

.eduQuantity .secondary{

  font-size: 40px;
  font-weight: 100;
  color: white;
  margin-top: -30px;
}

.eduFooterContent{

  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-left: 20px;
}

.edulink{

  text-align: justify;
  margin: 30px;
}

.eduNewtonImg{

  margin: auto;
  display:block;
  align-items:center;
  justify-content:center;
}

.eduNewtonImg img{

  margin-top: 20px;
  width: 100%;
}

.card{

  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}

.card-img-top{

  width: 100px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}

.card-body{

  color: rgb(11, 65, 150);
  height: 180px;
}

.clientName{

  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card-text{

  font-weight: 200;
  text-align: center;
  margin: 10px;
}

.clientMobile{

  display: none;
}

.carousel-indicators li{

  background-color: rgb(11, 65, 150);
}

.carousel-inner{

  height: 420px;
}

#partnerDiv{

  margin-bottom: 40px;
}

#technology_partner #AboutContent {

  padding-top: 0;
}

.partnerHeadA{

  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  display:block;
  align-items:center;
  justify-content:center;
}

.partnerHead{

  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  display:block;
  align-items:center;
  justify-content:center;
}

#technology_partner span{

  background-color: black;
  height: 40px;
  width: 6px;
  margin-left: 40px;
}

#technology_partner .spanB span{

  background-color: black;
  height: 60px;
  width: 6px;
  margin-left: 30px;
}

#technology_partner .spanC span{

  background-color: black;
  height: 60px;
  width: 6px;
  margin-left: 76px;
}

.spanB .row, .spanC .row{

  margin-top: 20px;
}

.partners{

  text-align: left;
}

.partners img{

  height: 80px;
  margin: 20px;
}

.ISO img{

  height: 120px;
}

#techPartImg{

  height: 116px;
}

.footer{

  margin: 0;
  text-align: center;
  font-size: 20px;
  background-color: rgb(11, 65, 150);
  color: white;
  padding: 30px;
}

.footer p{

  margin: 0;
}

.heading {

  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.addressHead{

  font-weight: bold;
}

.address p{

  font-weight: 200;
}

.socialIcons img{

  margin-left: 5px;
  margin-right: 5px;
  width: 24px;
}

@media only screen and (max-width: 1120px) {

  #brandText img{

    margin-left: 0px;
  }

  .supportedContent{

    margin-right: 0px;
  }
}

@media only screen and (max-width: 1040px) {

  .test{

      width: 100%;
  }
}

@media only screen and (max-width: 992px) {

  #brandText{

    margin-left: 0;
  }

  #brandText img{

    margin-left: 0;
  }

  .supportedContent{

    margin-right: 0;
  }

  .navbar-toggler{

    margin-right: 0;
  }

  #introMobile{

    display: block;
  }

  #introMobile .carousel {

    width: 100%;
  }

  #Text{

    text-align: center;
    width: 100%;
    height: auto;
  }

  .introimg{

    width: 160px;
    height: 160px;
  }

  #introIconImg{

    text-align: center;
  }

  .introContents{

    font-family: 'Nunito', sans-serif;
    font-size: 34px;
  }

  #introDesktop{

    display: none;
  }

  .partners{

    text-align: center;
    margin: auto;
    display: block;
  }

  .test{

      width: 110%;
  }

  .servicesContent{

    margin: 0;
    margin-top: 10px;
  }

  .clientWeb{

    display: none;
  }

  .clientMobile{

    display: block;
  }

  .card {

    width: 50%;
  }

  .contactUs{

    margin-top: 40px;
  }

}

@media only screen and (max-width: 767px) {

  #psychometryImgWeb{

    display: none;
  }

  #psychometryImgMobile{

    display: block;
    margin: auto;
    margin-top: -190px;
    width: 370px;
  }

  .psyRight{

    text-align: left;
    margin-top: -190px;
  }

  .assessmentQuestion{

    width: 100%;
  }

  .test{

      width: 60%;
  }

  .card {

    width: 60%;
  }

  .partnerHead p{

    text-align: center;
    display: block;
    margin: auto;
  }

  #technology_partner span{

    display: none;
  }

  #technology_partner .spanB span{

    display: none;
  }

  #technology_partner .spanC span{

    display: none;
  }

  #technology_partner .spanC p{

    margin-top: 30px;
    margin-bottom: -30px;
  }
}

@media only screen and (max-width: 600px) {

  .navigation{

    background-color: white;
    padding: 30px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .navbar-brand{

    margin-right: 0;
  }

  #brandText img{

    margin-left: 0px;
    width: 40px;
    height: 40px;
  }

  #brandText{

    font-size: 34px;
  }

  .navbar-toggler{

    margin-right: 0;
  }

  #openingQuote .quote{

    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .quote{

    padding-top: 0;
  }

  .quote p{

    margin-top: 6px;
    margin-bottom: 6px;
  }

  .contentHead{

    font-size: 26px;
  }

  #mobileDisabled{

    display: none;
  }

  #psychometryImgMobile{

    width: 100%;
  }

  .test{

      width: 80%;
  }

  .assessment .btn-secondary{

    border: 0;
    margin-top: 10px;
  }

  .eduQuantity .primary{

    font-size: 50px;
  }

  .eduQuantity .secondary{

    font-size: 26px;
    margin-top: -20px;
  }

  .eduContent .row{

    margin-top: 0;
  }

  .eduFooterContent{

    font-size: 32px;
  }

  .edulink{

    margin: 0px;
    margin-bottom: 30px;
  }

  .courseIcon img{

    width: 66px;
  }

  .courseIcon p{

    font-size: 16px;
  }

  .partners img{

    height: 66px;
  }

  #techPartImg{

    height: 96px;
  }

  .footer{

    font-size: 18px;
  }

  .heading{

    font-size: 24px;
  }

}

@media only screen and (max-width: 500px) {

  .card {

    width: 80%;
  }
}

@media only screen and (max-width: 450px) {

  .card {

    width: 100%;
  }
}


@media only screen and (max-width: 320px) {

  .navigation{

    margin-left: -20px;
    margin-right: -30px;
  }
}
